# Bot configuration
BOT_TOKEN=806233071663:AAGF0m2AE1DlA23swQu0R5l9AeMHo_DxwtQQw
API_ID=123123123
API_HASH=b4c465c3231233982affc31ab6ee
SERVER_ADDRESS=https://shortflare.xxxxxxxxx.workers.dev/api
ADMIN_IDS=123123123
PASSWORD=1
API_KEY=

# R2 Storage configuration
R2_ENDPOINT=https://accountid.r2.cloudflarestorage.com
R2_ACCESS_KEY=akey
R2_SECRET_KEY=skey
R2_BUCKET_NAME=ipa-sign
R2_DOMAIN=https://pub-ssssss.r2.dev

# R2 PLIST Storage configuration
R2_PLIST_ENDPOINT=https://accountid.r2.cloudflarestorage.com
R2_PLIST_ACCESS_KEY=akey
R2_PLIST_SECRET_KEY=skey
R2_PLIST_BUCKET_NAME=ipa-sign
R2_PLIST_DOMAIN=https://pub-ssssss.r2.dev
